<!DOCTYPE html>
{% extends 'myapp/parent.html'%}
<html lang="en" dir="ltr">
<body>
    {% block for_child%}
    <div class="jumbotron">
     <div class="container">
        <h2>Instructions</h2>
        <ul>
            <li>1.only one attempt you have</li>
            <li>2.No mall practice is allowed</li>
            <li>3.No negative marking</li>
            <li>4.only 90 minutes will be given</li>
            <li>5.if you change the tab,you will be blocked immeditely</li>
            <li>6.Test should be taken in the exam lab</li>
            <li>7.put signature at the end</li>
        </ul>
     </div>
    </div>
    {%endblock%}
</body>
</html>
